@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

@layer base {
  html, body {
    font-family: 'Grandstander', cursive;
  }
}

@layer components {
  .btn-primary {
    @apply w-full mb-2 md:w-1/4 md:mr-2 bg-teal-400 hover:bg-teal-300 text-white font-bold py-2 px-6 border-b-4 border-teal-700 hover:border-teal-500 rounded;
  }

  .btn-secondary {
    @apply w-full mb-2 md:w-1/4 md:mr-2 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-6 border-b-4 border-blue-700 hover:border-blue-500 rounded;
  }

  .btn-negative {
    @apply w-full mb-2 md:w-1/4 md:mr-2 bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-6 border-b-4 border-red-700 hover:border-red-700 rounded;
  }

  .btn-back {
    @apply w-full mb-2 md:w-1/4 md:mr-2 bg-amber-400 hover:bg-amber-300 text-white font-bold py-2 px-6 border-b-4 border-amber-700 hover:border-amber-500 rounded;
  }

}


.app-container {
    min-height: 350px;
}


  .checkmark:after{
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='rgb(14, 159, 110)'%3E%3Cpath d='M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
  }
  
  @keyframes flexAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg); /* Adjust the angle as needed */
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .animate-arm {
    animation: flexAnimation 2s infinite; /* Adjust the duration as needed */
    transform-origin: center bottom; /* Set the rotation origin */
  }


  .MuiFormControl-root [type='text']:focus, .MuiFormControl-root [type='email']:focus, .MuiFormControl-root [type='url']:focus, .MuiFormControl-root [type='password']:focus, .MuiFormControl-root [type='number']:focus, .MuiFormControl-root [type='date']:focus, .MuiFormControl-root [type='datetime-local']:focus, .MuiFormControl-root [type='month']:focus, .MuiFormControl-root [type='search']:focus, .MuiFormControl-root [type='tel']:focus, .MuiFormControl-root [type='time']:focus, .MuiFormControl-root [type='week']:focus, .MuiFormControl-root [multiple]:focus, .MuiFormControl-root textarea:focus, .MuiFormControl-root select:focus {
    box-shadow: none;
  }

  .mui-validation-error {
    color: #d32f2f;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
  }